
<div class="flex justify-center items-center py-10 bg-gray-100">
<div class="flex space-x-6 p-4 max-w-5xl">
    <!-- Order Online Card -->
    <div class=" w-90 rounded-lg shadow-lg overflow-hidden bg-white transform transition duration-300 hover:scale-105 hover:shadow-2xl">
      <img class="w-full h-40 object-cover" src="/assets/images/order-online.jpg" alt="Order Online">
      <div class="p-3">
        <h2 class="text-lg font-semibold">Order Online</h2>
        <p class="text-gray-600 text-base">Stay home and order to your doorstep</p>
      </div>
    </div>
  
    <!-- Dining Card -->
    <div class="w-90 rounded-lg shadow-lg overflow-hidden bg-white transform transition duration-300 hover:scale-105 hover:shadow-2xl">
      <img class="w-full h-40 object-cover" src="/assets/images/dining.jpg" alt="Dining">
      <div class="p-3">
        <h2 class="text-sm font-semibold">Dining</h2>
        <p class="text-gray-600 text-base ">View the city's favourite dining venues</p>
      </div>
    </div>
  
    <!-- Live Events Card -->
    <div class="w-90 rounded-lg shadow-lg overflow-hidden bg-white transform transition duration-300 hover:scale-105 hover:shadow-2xl">
      <img class="w-full h-40 object-cover" src="/assets/images/live event.jpg" alt="Live Events">
      <div class="p-3">
        <h2 class="text-sm font-semibold">Live Events</h2>
        <p class="text-gray-600 text-base">Discover India’s best events & concerts</p>
      </div>
    </div>
  </div>
</div>
  
