<div class="sign-modal">
   <h2>Sign-up</h2>

   <div class="input-group">
      <form [formGroup]="regForm" (ngSubmit)=" registerUser()">
         <div>
            <input type="text" placeholder="Full Name" formControlName="fname">
            @if(regForm.controls['fname'].touched && !regForm.controls['fname'].valid){

            <span *ngIf="regForm.controls['fname'].hasError('required')">
               Full Name is required !!
            </span>
            <span *ngIf="regForm.controls['fname'].hasError('minlength')">
               should be 2 char!!
            </span>
            <span *ngIf="regForm.controls['fname'].hasError('maxlength')">
               should be less than 15 char !!
            </span>
            }
         </div>


         <div>
            <input type="email" placeholder=" Email" formControlName="email">
            @if(regForm.controls['email'].touched && !regForm.controls['email'].valid){
            <span *ngIf="regForm.controls['email'].hasError('required')">
               Email Id is required !!
            </span>
            <span *ngIf="regForm.controls['email'].hasError('email')">
               Email Id should be correct !!
            </span>
            }
         </div>

         <div class="terms-container">
            <input type="checkbox" formControlName="terms" id="terms" />
            <label for="terms">
               I agree to Zomato's <a href="#"> Terms of Service</a>,
               <a href="#">Privacy Policy</a>, and <a href="#">Content Policies</a>

            </label>
         </div>
         <div *ngIf="regForm.get('terms')?.touched && regForm.get('terms')?.invalid">
            You must accept the terms
         </div>



         <div>
            <button class="create-btn" type="submit" [disabled]="regForm.invalid">Create Account</button>
         </div>

         <div class="separator">or</div>

         <button class="google-btn">
            <img src="/assets/images/google-icon.png" alt="Google" />
         </button>

         <p class="login">Already have an account? <a routerLink="/login">Log in</a></p>

      </form>
   </div>
</div>