/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.active{
    background-color: rgb(124, 230, 124);
    color: white;
}
.home{
    font-weight: bold;
    padding: 10px;
}

